div
{
display:none;
width:320px;
height: 345px;
border-radius:5px;
padding:5px;
margin:10px;
box-shadow:2px 2px 8px 5px grey;

}
#log{
display:block;
width:320px;
height: 345px;
border-radius:5px;
padding:5px;
margin:10px;
box-shadow:2px 2px 8px 5px grey;
}
